chain_id: "commercio-testnet11k"
moniker: "commercio-node"
sync_type: "statesync"
comm_user: "cnd"
sync_node: ""
sync_node_comm_user: "root"
custom_bin_version: ""
custom_genesis: ""
custom_comm_repo: ""
custom_cosmos_repo: ""
custom_go_path: ""
custom_cosmovisor_version: ""
custom_trust_rpc1: ""
custom_trust_rpc2: ""
slack_hook: ""
ANSIBLE_HOST_KEY_CHECKING: "False"